# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Matches multiple file types like .php, .js, .ts and .html
[*.{js,ts,html,json}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Specific settings for composer.json
[composer.json]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{php,neon,ini}]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = true
